<div class="container">
  <div class="text-center my-4">
    <h1 class="text-success">Trash can</h1>
    <a href="../stored/courses">Back to stored course</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N.O</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Date Delete</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
      <tr>
        <th scope="row">{{add @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a class="btn btn-primary btn-restore" href="#" role="button" data-bs-id="{{this._id}}">Restore</a>
          <a class="btn btn-primary" href="#" role="button" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
            data-bs-id="{{this._id}}">Force delete</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Empty. <a href="../stored/courses">Back to stored course</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!--Delete Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger h4">
        Delete course permanently ???
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-course-delete" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- hidden-form -->
<form name="delete-course-form" method="POST">

</form>
<form name="restore-course-form" method="POST">

</form>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    // Form
    const deleteForm = document.forms['delete-course-form']
    const restoreForm = document.forms['restore-course-form']
    const restoreBtn = $('.btn-restore')
    const deleteModal = document.getElementById('delete-course-modal')
    if (deleteModal) {
      deleteModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const id = button.getAttribute('data-bs-id')
        // Button confirm delete
        const deleteBtn = document.getElementById('btn-course-delete')
        deleteBtn.onclick = () => {
          deleteForm.action = '/course/' + id + '/force?_method=DELETE'
          deleteForm.submit()
        }
      })
    }

    restoreBtn.click(function(e){
      const id = $(this).attr('data-bs-id')
      restoreForm.action = '/course/' + id + '/restore?_method=PATCH'
      restoreForm.submit()
    })

  })
</script>